*{
    margin: 0px;
    padding: 0px;
}


.container{

    max-width: 80%;
    background-color:cornflowerblue;
    padding: 34px;
    margin : auto;
}

.container h1,p{
    text-align: center;
}

input,textarea{
display: block;
    width: 80%;
    margin: 10px 130px;
    padding: 6px;
    font-size: large;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;

}
p{
    font-size: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color:white;
    padding:15px 10px;
    background-color:crimson;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 13px;
    cursor: pointer;
}